
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAD.cshtml";
}
<script src="~/Scripts/backend/DonHang.js"></script>
<div class="panel-default">
    <div class="panel-heading">
        <h4>Quản lý đơn hàng</h4>
    </div>
    <div class="panel-body" id="Main">   
        <table class="table table-bordered table-hover">
            <thead>
                <tr class="black">
                    <th>
                        Mã đơn hàng
                    </th>
                    <th>
                        Họ tên khách
                    </th>
                    <th>
                       Ngày đặt
                    </th>
                    <th>
                        Trạng thái
                    </th>
                    <th>
                        Địa chỉ
                    </th>
                    <th>
                        
                    </th>

                </tr>
            </thead>
            <tbody class="tbody"></tbody>
        </table>
       

    </div>
    <div class="panel-body" id="detail">
    </div>
</div>

