USE [Watch]
GO
/****** Object:  Table [dbo].[CTDONHANG]    Script Date: 12/29/2020 8:45:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONHANG](
	[MADH] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[SOLUONG] [int] NULL,
	[THANHTIEN] [float] NULL,
 CONSTRAINT [PK_CTDONHANG] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONHANG]    Script Date: 12/29/2020 8:45:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONHANG](
	[MADH] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[TRANGTHAI] [bit] NOT NULL,
	[DIACHINHAN] [nvarchar](50) NOT NULL,
	[GHICHU] [nvarchar](256) NULL,
	[TONG] [decimal](18, 2) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/29/2020 8:45:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](50) NOT NULL,
	[SDT] [char](10) NULL,
	[EMAIL] [char](50) NOT NULL,
	[PASSWORD] [varchar](32) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 12/29/2020 8:45:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 12/29/2020 8:45:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[MATH] [int] NOT NULL,
	[MALOAI] [int] NOT NULL,
	[TENSP] [nvarchar](100) NOT NULL,
	[GIA] [int] NOT NULL,
	[HINH] [nvarchar](50) NOT NULL,
	[NGAYNHAP] [datetime] NOT NULL,
	[MOTA] [nvarchar](256) NULL,
	[MAUSAC] [nvarchar](20) NULL,
	[CHATLIEU] [nvarchar](20) NULL,
	[NANGLUONG] [nvarchar](50) NULL,
	[CHONGNUOC] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[THUONGHIEU]    Script Date: 12/29/2020 8:45:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUONGHIEU](
	[MATH] [int] IDENTITY(1,1) NOT NULL,
	[TENTH] [nvarchar](50) NOT NULL,
	[QUOCGIA] [nvarchar](50) NOT NULL,
	[NAMTL] [int] NOT NULL,
	[LOGO] [nvarchar](50) NOT NULL,
	[MOTA] [nvarchar](256) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UAD]    Script Date: 12/29/2020 8:45:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UAD](
	[username] [varchar](32) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_UAD] PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[CTDONHANG] ([MADH], [MASP], [SOLUONG], [THANHTIEN]) VALUES (2, 1, 1, 28000000)
INSERT [dbo].[CTDONHANG] ([MADH], [MASP], [SOLUONG], [THANHTIEN]) VALUES (3, 1, 3, 84000000)
INSERT [dbo].[CTDONHANG] ([MADH], [MASP], [SOLUONG], [THANHTIEN]) VALUES (4, 2, 1, 25200000)
SET IDENTITY_INSERT [dbo].[DONHANG] ON 

INSERT [dbo].[DONHANG] ([MADH], [MAKH], [NGAYDAT], [TRANGTHAI], [DIACHINHAN], [GHICHU], [TONG]) VALUES (7, 1, CAST(0x0000AC9B01026D8B AS DateTime), 1, N'TPCHM', NULL, CAST(28000000.00 AS Decimal(18, 2)))
INSERT [dbo].[DONHANG] ([MADH], [MAKH], [NGAYDAT], [TRANGTHAI], [DIACHINHAN], [GHICHU], [TONG]) VALUES (2, 1, CAST(0x0000AC9B00FC2E25 AS DateTime), 0, N'TPCHM', NULL, CAST(28000000.00 AS Decimal(18, 2)))
INSERT [dbo].[DONHANG] ([MADH], [MAKH], [NGAYDAT], [TRANGTHAI], [DIACHINHAN], [GHICHU], [TONG]) VALUES (3, 1, CAST(0x0000AC9B00FE01CC AS DateTime), 0, N'TPCHM', NULL, CAST(84000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[DONHANG] OFF
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [HOTEN], [SDT], [EMAIL], [PASSWORD]) VALUES (1, N'ngoan', N'0853827770', N'nhkngoan@gmail.com                                ', N'3012199nm..')
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
SET IDENTITY_INSERT [dbo].[LOAI] ON 

INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (1, N'Đồng hồ máy cơ')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (2, N'Đồng hồ Solar')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (3, N'Đồng hồ thông minh')
SET IDENTITY_INSERT [dbo].[LOAI] OFF
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASP], [MATH], [MALOAI], [TENSP], [GIA], [HINH], [NGAYNHAP], [MOTA], [MAUSAC], [CHATLIEU], [NANGLUONG], [CHONGNUOC]) VALUES (1, 1, 1, N'Ogival OG358.63GR_GL sóng trào dây da', 28000000, N'100.jpg ', CAST(0x0000AC9700000000 AS DateTime), NULL, N'Vàng', N'Kim Loại', N'Automatic', 20)
INSERT [dbo].[SANPHAM] ([MASP], [MATH], [MALOAI], [TENSP], [GIA], [HINH], [NGAYNHAP], [MOTA], [MAUSAC], [CHATLIEU], [NANGLUONG], [CHONGNUOC]) VALUES (2, 1, 1, N'Ogival Độc Long OG358 .63AGSR', 25200000, N'101.jpg    ', CAST(0x0000AC9700000000 AS DateTime), NULL, N'Vàng Ánh Kim', N'Kim Loại', N'Pin', 30)
INSERT [dbo].[SANPHAM] ([MASP], [MATH], [MALOAI], [TENSP], [GIA], [HINH], [NGAYNHAP], [MOTA], [MAUSAC], [CHATLIEU], [NANGLUONG], [CHONGNUOC]) VALUES (3, 1, 1, N'Ogival OG30328GSK-T', 20250000, N'102.jpg', CAST(0x0000AC9700000000 AS DateTime), NULL, N'Vàng Ánh Kim', N'Kim Loại', N'Pin', 40)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
SET IDENTITY_INSERT [dbo].[THUONGHIEU] ON 

INSERT [dbo].[THUONGHIEU] ([MATH], [TENTH], [QUOCGIA], [NAMTL], [LOGO], [MOTA]) VALUES (1, N'Đồng hồ Ogival', N'Thụy Sĩ', 1853, N'Ogival.png', N'ngoan')
INSERT [dbo].[THUONGHIEU] ([MATH], [TENTH], [QUOCGIA], [NAMTL], [LOGO], [MOTA]) VALUES (2, N'Đồng hồ HuBlot', N'Thụy sĩ', 1881, N'HuBlot.png', N'dsdsd')
INSERT [dbo].[THUONGHIEU] ([MATH], [TENTH], [QUOCGIA], [NAMTL], [LOGO], [MOTA]) VALUES (3, N'Đồng hồ Casio', N'Nhật Bản', 1946, N'Casio.png', NULL)
SET IDENTITY_INSERT [dbo].[THUONGHIEU] OFF
INSERT [dbo].[UAD] ([username], [password]) VALUES (N'adbao', N'46a0d86608bd27f630b5fba0417bfaff')
INSERT [dbo].[UAD] ([username], [password]) VALUES (N'adngoan', N'f49c59fd17b53f7339b1f1d44ac15623')
INSERT [dbo].[UAD] ([username], [password]) VALUES (N'adphuoc', N'928cfd6b4d05e07d7f912e9a9d255b05')
/****** Object:  Index [PK_DONHANG]    Script Date: 12/29/2020 8:45:01 PM ******/
ALTER TABLE [dbo].[DONHANG] ADD  CONSTRAINT [PK_DONHANG] PRIMARY KEY NONCLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_KHACHHANG]    Script Date: 12/29/2020 8:45:01 PM ******/
ALTER TABLE [dbo].[KHACHHANG] ADD  CONSTRAINT [PK_KHACHHANG] PRIMARY KEY NONCLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_LOAI]    Script Date: 12/29/2020 8:45:01 PM ******/
ALTER TABLE [dbo].[LOAI] ADD  CONSTRAINT [PK_LOAI] PRIMARY KEY NONCLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_SANPHAM]    Script Date: 12/29/2020 8:45:01 PM ******/
ALTER TABLE [dbo].[SANPHAM] ADD  CONSTRAINT [PK_SANPHAM] PRIMARY KEY NONCLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [PK_THUONGHIEU]    Script Date: 12/29/2020 8:45:01 PM ******/
ALTER TABLE [dbo].[THUONGHIEU] ADD  CONSTRAINT [PK_THUONGHIEU] PRIMARY KEY NONCLUSTERED 
(
	[MATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CTDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDONHAN_CTDONHANG_DONHANG] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONHANG] ([MADH])
GO
ALTER TABLE [dbo].[CTDONHANG] CHECK CONSTRAINT [FK_CTDONHAN_CTDONHANG_DONHANG]
GO
ALTER TABLE [dbo].[CTDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CTDONHAN_CTDONHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTDONHANG] CHECK CONSTRAINT [FK_CTDONHAN_CTDONHANG_SANPHAM]
GO
ALTER TABLE [dbo].[DONHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONHANG_THUOCVE_KHACHHAN] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONHANG] CHECK CONSTRAINT [FK_DONHANG_THUOCVE_KHACHHAN]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_THUOC_LOA_LOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_THUOC_LOA_LOAI]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [FK_SANPHAM_THUOC_TH_THUONGHI] FOREIGN KEY([MATH])
REFERENCES [dbo].[THUONGHIEU] ([MATH])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [FK_SANPHAM_THUOC_TH_THUONGHI]
GO
