
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="row text-center"><h2>ĐỒNG HỒ FOURMEN</h2></div>
    <div class="row text-center">
        <img src="~/Image/unnamed.jpg" />
    </div>
    <div class="col-md-8">
        <h4>
            <b>
                Đồng Hồ FourMen – Hệ Thống Phân Phối Đồng Hồ Uy Tín Chính Hãng
            </b>
        </h4><br />
        <p>
            Đồng Hồ FourMen là thương hiệu bản quyền và
            thuộc sở hữu do nhóm thanh niên khởi nghiệp sáng lập năm 2020
            và phát triển cho đến ngày nay. Đồng Hồ FourMen là một hệ thống phân phối đồng hồ chính hãng tại Việt Nam,
            chuyên phân phối các thương hiệu đồng hồ Thụy Sĩ, Nhật Bản, Đức, Pháp ( Frederique Constant, Ogival, Jaguar, Orient, Olympia Star, Olym Pianus, Bentley, Freelook…)
        </p>
        <p>
            FourMen sẽ đẩy lùi nạn đồng hồ FAKE, chỉ bán ĐỒNG HỒ CHÍNH HÃNG mang lại sự an tâm mua sắm cho người tiêu dùng, mang tới những giá trị cót lõi, đích thực cho quý khách hàng. ĐẶC BIỆT sẽ trách nhiệm cao nhất với những gì mình bán ra.<br />

            Trong tương lai không xa nhóm và đội ngũ công ty cổ phần đồng hồ FourMen sẽ nổ lực hơn nữa để mở ra các chuỗi cửa hàng đồng hồ chính hãng tại Hà Nội, Sài Gòn, các tỉnh, thành phố trên cả nước để mang tới những chất lượng, sản phẩm, dịch vụ tốt nhất cho quý khách hàng.<br />

            FourMen sẽ là một thương hiệu, sân chơi cho những người đam mê đồng hồ ( sản phẩm thật, giá trị thật và nói không với hàng fake )
        </p>
    </div>
</div>


